<!DOCTYPE html>
{% load static %}


<html lang="en">
    <head>
        <title>Edit</title>

        <link rel="stylesheet" href="{% static 'styles/editor.css' %}">

        <script>var CANVAS_LOGGED_IN = {{ canvas_token_exists }};</script>
        <script defer src="{% static 'scripts/editor.js' %}"></script>
        
    </head>
    <body>
        <header></header>
        <main>
            <aside class="blockpicker">
                <nav>
                    <ul class="catpicker">
                        <li><button>Canvas</button></li>
                        <li><button>Users</button></li>
                        <li><button>Logic</button></li>
                        <li><button>Integrations</button></li>
                    </ul>
                </nav>
                <div class="block-select">
                    
                </div>
            </aside>
            <div class="main-edit-canvas"></div>
        </main>
    </body>
</html>
